@media screen and (min-width: 650px) {
    .container{
        margin-top: 10px;
    }
    #fields__title{
        font-size: 20px;
        margin-bottom: 20px;
    }

    .fields__textbox{
        height: 150px;
    }

    .fields__textbox > input {
        height: 60px;
    }
    .field__remember{
        margin-bottom: 20px;
    }
    .fields__create{
        display: flex;
        justify-content: center;
        font-size: 30px;
        font-weight: bold;
        margin-top: -70px;
    }
}

